<% layout("/layouts/boilerplate") %>

<h3 class="text-center mb-4">All Listings</h3>

<div class="row">
    <% listings.forEach(listing => { %>
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <a href="/listings/<%= listing._id %>" id = "listing-link"class="text-decoration-none text-dark">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="<%= listing.image.url %>" alt="listing image">
                    <div class="card-body text-center">
                        <h4 class="card-title"><%= listing.title %></h4>
                        <p class="card-text">
                            Price: &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
        </div>
    <% }) %>
</div>
